.footer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background: #000000;
  padding: 100px;
  border-top: 3px solid #fab915;

  .social-links {
    display: flex;

    li {
      margin-right: 10px;
    }
  }

  .text {
    margin-top: 32px;

    h5 {
      color: #fff;
    }
  }


  .logo-white {
    width: 180px;
    max-width: 180px;
    margin: 20px;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }

  ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 50px;
  }

  &__info {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media handheld,
only screen and (max-width: 768px) {
  .footer {
    .col-md-4 {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}