.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;

  .navbar-toggler {
    border: 0px;
  }

  .top-bar {
    color: #fff;
    background-color: #23292e00;
    padding: 8px 0px;
    font-size: 14px;
    transition: 0.5s;

    .top-bar__contacts {
      padding: 0px;
      margin: 0px;
      list-style: none;
      display: flex;
      align-items: center;
      flex-direction: row;

      li {
        margin-right: 15px;

        a {
          color: #fff;
          text-decoration: none;
          font-size: calc(11px + 3*(100vw - 320px) / 2240);
        }
      }
    }
  }

  .bottom_bar {
    transition: 0.5s;
    padding: 15px 0px;
    font-size: 14px;
    background: #ffffff00;

    a {
      color: #fff;
    }

    .site-logo a {
      img {
        width: 130px;
        max-width: 130px;
      }

      .logo-white {
        transition: 0.5s;
        position: absolute;
        opacity: 1;
      }

      .logo-black {
        transition: 0.5s;
        position: absolute;
        opacity: 0;
      }

    }

    ul {
      display: flex;
      margin: 0;

      li {
        margin-left: 25px;
        list-style-type: none;

        a {
          color: #000000;
          text-decoration: none;
          line-height: 24px;
          color: #ffffff;
          font-size: 14px;
          font-family: 'Raleway', sans-serif;
          font-weight: 400;
          font-weight: 600;
          letter-spacing: 1px;
          transition: .5s;
        }
      }
    }


    .logo {
      height: 100%;
      max-width: 210px;
      opacity: 0;
    }


    .navbar-nav {
      font-size: 16px;

      .current-menu-item {
        font-weight: bold;
      }
    }
  }
}

.notTransparent {
  .top-bar {
    color: #fff;
    background-color: #23292e;

    .top-bar__contacts li a {
      color: #fff;
    }


  }

  .bottom_bar {
    background: #fff;
    border-bottom: 3px solid #fab915;

    .site-logo a {

      .logo-white {
        opacity: 0;
      }

      .logo-black {
        opacity: 1;
      }

    }

    ul li a {
      color: #828282;
    }




    a {
      color: #000000;
    }

    .navbar-nav {

      .current-menu-item {}
    }
  }
}


@media handheld,
only screen and (max-width: 991px) {
  .header {

    .top-bar {
      color: #fff;
      background-color: #23292e;

      .top-bar__contacts li a {
        color: #fff;
      }
    }

    .bottom_bar {
      background: #fff;
      border-bottom: 3px solid #fab915;



      .site-logo a {

        .logo-white {
          opacity: 0;
          max-width: 70px;
        }

        .logo-black {
          opacity: 1;
          max-width: 70px;
        }

        .logo {
          max-width: 70px;
        }

      }

      ul {
        display: flex;
        margin: 0;
        flex-direction: column;
        align-items: flex-end;
        padding: 4px 12px;
        margin-top: 15px;

        li a {
          color: #828282;
        }
      }

      a {
        color: #000000;
      }

      .navbar-nav {

        .current-menu-item {}
      }
    }
  }
}