h2 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 25px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  line-height: 24px;
  color: #999;
  font-size: 14px;

}

::selection {
  background: #000000;
  color: #ffffff;
  /* Цвет текста */
}

.social-links {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  list-style: none;

  li {
    a {}
  }
}

.btn {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  overflow: hidden;
  border-radius: 0;
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  border: 2px solid;
}

.btn-primary {
  background: #feb60000 !important;
  border-color: #ffae00 !important;
  color: #ffae00 !important;

  &:hover {
    background: #ffae00 !important;
    border-color: #ffae00 !important;
    color: #000000 !important;
  }
}

.btn-form {
  width: 100%;
  background: #ffae00 !important;
  border-color: #ffae00 !important;
  color: #000000 !important;

  &:hover {
    background: #000000 !important;
    border-color: #000000 !important;
    color: #ffae00 !important;
  }
}

.btn-outline-primary {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;

  &:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: #000000;
  }
}

.submitting {
  .wpcf7-spinner {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 36px);
  }

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: #0000007d;
    opacity: .85;
  }
}

.section-bottom-100 {
  padding-bottom: 100px;
}

.section-top-100 {
  padding-top: 100px;
}

.title {
  margin-bottom: 20px;


  &--center {
    text-align: center;
  }

  .sub-title {}

  h2 {
    color: #000;
  }

}

@media handheld,
only screen and (max-width: 991px) {
  .btn-primary {
    background: #ffae00 !important;
    border-color: #ffae00 !important;
    color: #000000 !important;

  }

  .btn-form {
    width: 100%;
    background: #000000 !important;
    border-color: #000000 !important;
    color: #ffae00 !important;

  }

  .btn-outline-primary {
    background: #ffffff;
    border-color: #ffffff;
    color: #000000;

  }
}