.advantages-item {
  background: #efefef;
  padding: 25px;
  min-height: 150px;

  &__title {
    font-weight: 600;
    line-height: 120%;
    color: #333;
    margin-bottom: 8px;
    font-size: 1.125rem;
  }
  &__body {
    
  }
}