.splide-reviews {

  &__img {
    img {
      max-width: 300px;
      width: 80px;
      height: auto;
    }
  }

  &__item {
    background: #f9f9f9;
    padding: 50px 45px;
    border-radius: 10px;
    position: relative;
    min-height: 251px;

    .svg-container {
      margin: 6px -3px;

      .stars {
        width: 32%;

        svg {
          margin-right: 3px;
        }
      }

      .splide__slide {
        margin-bottom: 20px;
        fill: #e6e6e6;
        position: absolute;
        transform: rotate(180deg);
        height: 35px;
        top: 40px;
        right: 27px;
      }
    }





  }

  &__title {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    color: #ffae00;
  }

  &__body {
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    line-height: 12px;
    color: #6d6c80;
  }
}