.white-popup {
    position: relative;
    background: #FFF;
    width: auto;
    max-width: 500px;
    padding: 60px 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #eff1f7;
    border-radius: 6px 6px 6px 6px;
    margin: 20px auto;

    h2 {

    }

    p {
        
    }
}
