.main-banner {
  color: #fff;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  h1 {
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  &__home {
    width: 100%;
    height: auto;
    max-width: 470px;
  }
}

#about-us {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fab915;
  overflow: hidden;
  -webkit-box-shadow: -3px -32px 22px -21px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: -3px -32px 22px -21px rgba(34, 60, 80, 0.2) inset;
  box-shadow: -3px -32px 22px -21px rgba(34, 60, 80, 0.2) inset;

  .coll-form {
    margin: 0 15px;
    padding: 60px;
    background: #ffffff;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  }

  .coll-form__img {
    max-width: 100%;

    img {
      -webkit-filter: drop-shadow(0px 5px 10px rgba(34, 60, 80, 0.736));
      filter: drop-shadow(0px 5px 10px rgba(34, 60, 80, 0.736));
    }
  }
}

#why-me {
  padding-top: 100px;
  padding-bottom: 50px;


  .why-me-item {
    margin-bottom: 130px;

    .why-me-item__icon {
      margin-bottom: 20px;
    }
  }

  .why-me-item__title {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  .why-me-item__text {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }

}

#our-numbers {
  background-color: #00000000;

  .bg1 {
    background: #000000;
  }

  .bg2 {
    background: #1a1a1a;
  }

  .bg3 {
    background: #262626;
  }

  .bg4 {
    background: #333333;
  }

  .our-numbers {
    padding: 40px 30px;
    position: relative;
    transition: all 0.25s ease-in-out;
    min-height: 305px;

    &__img {
      svg {
        fill: #fff;
        width: 51px;
      }
    }

    &__value {
      h3 {
        color: #fab915;
        font-weight: 700;
        font-size: 55px;

        span {
          font-weight: 100;
          font-size: 20px;
          color: #000;
        }
      }

    }

    &__title {

      margin-bottom: 9px;

      h6 {
        position: relative;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 28.8px;

        &::before {
          content: "";
          width: 60px;
          height: 2px;
          background: #000;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -5px;
          margin: auto;
          background: #feb600;
        }
      }
    }

    &__content {
      font-size: 15px;
      line-height: 22px;
      font-weight: 400;
      letter-spacing: .4px;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      box-orient: vertical;

      p {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}



#our-directions {
  background-color: #f5f7f9;

  .our-directions {
    background: #fff;
    display: block;
    text-decoration: none;
    padding-top: 1px;
    position: relative;

    &__img {
      position: relative;
      overflow: hidden;
      max-height: 283px;
      display: flex;

      &::before {
        content: "";
        width: 50px;
        height: 50px;
        background: #f4f4f4;
        position: absolute;
        right: 0;
        background-color: #feb600;
        z-index: 1;
      }

      img {
        height: auto;
        max-width: 100%;
        width: 100%;
        position: relative;
        z-index: 1;
        transition: .5s ease;
        align-self: center;
      }
    }

    &:hover .our-directions__content {
      width: 50%;
    }

    &__content {
      padding: 5px 20px 10px 20px;
      text-align: center;
      position: absolute;
      bottom: 0px;
      background: #fab915;
      color: #000;
      z-index: 40;
      width: 10%;
      min-width: fit-content;
      transition: 0.5s;


    }
  }
}


#coll-form {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  background-color: #F1EDEB;

  .form-box {
    background: #fff;
    padding: 40px;
    border-radius: 10px;

    &__form {
      input {
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: #0F0F0F1A;
        background-color: #F4F1EF;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 28px;
        padding: 0px 20px 0px 20px;
        border-radius: 6px 6px 6px 6px;
        color: #878787;
        margin-top: 7px;
        height: 55px;
      }
    }
  }

  .box {

    &__sub-title {
      color: #949089;
      font-family: "Outfit", Sans-serif;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      font-style: normal;
      line-height: 26px;
    }

    &__title {
      color: #0F0F0F;
      font-family: "Outfit", Sans-serif;
      font-size: 54px;
      font-weight: 600;
      font-style: normal;
      line-height: 66px;
    }

    &__content {
      color: #0F0F0F;
      font-family: "Outfit", Sans-serif;
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      line-height: 30px;
    }
  }


}

.services-item {
  background: #f2f2f2;
  text-align: center;
  padding: 15px;
  border-radius: 2px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 100%;
    height: auto;
  }

  &__title {
    font-weight: bold;
  }
}

@media handheld,
only screen and (max-width: 991px) {
  .main-banner {
    color: #fff;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    h1 {
      font-size: calc(40px + 44*(100vw - 320px) / 2240);
      font-weight: bold;
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
    }

    &__description {
      font-size: calc(12px + 10*(100vw - 320px) / 2240);
      line-height: calc(15px + 15*(100vw - 320px) / 2240);
      margin-bottom: calc(15px + 15*(100vw - 320px) / 2240);
    }

    &__home {
      width: 100%;
      height: auto;
      max-width: 470px;
    }
  }
}